
<h1> Elija las cantidades deseadas </h1>
<div class="productos">
    <div *ngFor="let producto of carrito" class="productos__item">
        <img [src]="producto['imagen']" alt="">
        <h3>{{producto["nombre"]}}</h3>
        <p>{{producto["precio_unitario"]}}€ la unidad</p>
        <p>{{producto["stock"]}} en stock</p>
        <div>
            <label for="">Unidades: </label>
            <input type="number" class="input-cantidades">
        </div>
    </div>
</div>
<button (click)="continuar()" class="productos__boton productos__boton--verde">Continuar</button>