
<form (submit)="decidirAccion(codigo.value)" [formGroup]="productoFormulario" class="formulario">
    <div>Codigo</div>
    <input type="text" readonly formControlName="_id" #codigo>
    <div class="formulario__bloque">
        <label for="">Nombre</label>
        <input type="text" formControlName="nombre">
    </div>
    <div class="formulario__bloque">
        <label for="">Precio</label>
        <input type="number" formControlName="precio_unitario">
    </div>
    <div class="formulario__bloque">
        <label for="">Categoria</label>
        <input type="text" formControlName="categoria">
    </div>
    <div class="formulario__bloque">
        <label for="">Stock</label>
        <input type="text" formControlName="stock">
    </div>
    <button>{{accionRealizando}} producto</button>
</form>

<button (click)="prepararFormularioParaInsertarProducto()">Agregar producto</button>

<div *ngFor="let producto of productos">

    <h4>{{producto["nombre"]}}</h4>
    <p>Precio: {{producto["precio_unitario"]}}</p>
    <p>Categoria: {{producto["categoria"]}}</p>
    <p>Stock: {{producto["stock"]}}</p>
    <button (click)="prepararFormularioParaEditarProducto(producto['_id'])">Editar</button>
    <button (click)="eliminarProducto(producto['_id'])">Eliminar</button>

</div>