<div class="body-tienda">
    <div class="ticket">
        <h2>Ticket de compra</h2>
        <h4>Fecha: {{fecha | date : 'dd-MM-yyyy'}} a las {{fecha | date : 'h:mm'}}</h4>
        <h5>{{metodoDePago}}</h5>
        <div *ngFor="let producto of ticket" class="ticket__producto">
            <b>{{producto.nombre}}</b>
            <p>Unidades: {{producto.unidades}}</p>
            <p>Precio unitario: {{producto.precio_unitario}}€</p>
            <p>Precio total: {{producto.precio_unitario * producto.unidades}}€</p>
        </div>
        <p><b class="ticket__precio-global">Precio de toda la compra: {{precioTotal}}€</b></p>
    </div>
    <div>
        <div class="informacion">
            <div *ngFor="let producto of productos" class="informacion__item">
                <img [src]="producto['imagen']" alt="">
                <h4 class="informacion__titulo">{{producto["nombre"]}}</h4>
                <p>{{producto["_id"]}}</p>
                <p class="informacion__subtitulo"><b>Categoria: </b>{{producto["categoria"]}}</p>
                <p class="informacion__subtitulo"><b>Precio unitario: </b> {{producto["precio_unitario"]}}</p>
                <p class="informacion__subtitulo"><b>Stock: </b> {{producto["stock"]}}</p>
            </div>
        </div>

        <div> 
            <p>Si el cliente va a pagar con tarjeta escriba el código</p>
            <small>En caso de no tener cuenta registrelo aquí <a routerLink="/gestion-clientes" routerLinkActive="active">Clientes</a></small>
            <div class="formulario__bloque">
                <label for="" class="codigo-cliente__label">Código del cliente</label>
                <input type="text" class="formulario__input" (change)="comprobarMetodoPago(codigoCliente.value)" #codigoCliente>
            </div>

            <div class="formulario__bloque">
                <label for="" class="buscar-codigo__label">Código del producto</label>
                <input type="text" class="formulario__input" #codigo>
            </div>

            <div class="unidades">
                <label for="" class="formulario__bloque">Unidades </label>
                <input type="text" class="formulario__input" #unidades>
            </div>
            
            <button (click)="registrarProducto(codigo.value, unidades.value)" class="formulario__boton formulario__boton--transparente">Registrar producto</button>
            <button (click)="finalizarCompra(codigoCliente.value)" class="formulario__boton formulario__boton--verde">Finalizar compra</button>
            
        </div>
    </div>
</div>
