/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, .root {
    font-size: 18px;
  }
  body, .article {
    font-size: 18px;
  }
  h1, .h1 {
    font-size: 76px;
    text-align: center;
  }
  h2, .h2 {
    font-size: 47px;

  }
  h3, .h3 {
    font-size: 29px;
  }
  h4, .h4 {
    font-size: 18px;
  }
  h5, .h5 {
    font-size: 18px;
  }

  hr, .hr {
    border: 1px solid;
    margin: -1px 0;
  }
  a, b, i, strong, em, small, code {
    line-height: 0;
  }
  sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }


.body {
  margin-top: 5vh;
}

.informacion__titulo, .productos__titulo {
  font-size: 2rem;
}

.formulario__input {
  border: none;
  border-bottom: .6px solid darkgray;
  outline: none;
  padding: .5rem;

}
  
.formulario__bloque {

  margin: 1vw;
}

.formulario__bloque > * {
  margin-right: .6vw;
}

.informacion__boton, .formulario__boton, .productos__boton {
  padding: .6rem 1.5vw;
  border: none;
  border-radius: 10px;
  margin-top: 1rem;
  margin-right: .5rem;
  color: white;
  cursor: pointer;
}

.formulario__boton--transparente, .productos__boton--transparente {
  background-color: white;
  color: black;
  border: 1px solid lightgray;
}

.formulario__boton--verde {
  background-color: darkgreen;
}

.informacion__boton--azul {
  background-color: darkblue;
}
  
.informacion__boton--rojo {
  background-color: darkred;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.informacion {
  
  min-width: 40vw;
  height: 80vh;
  overflow-y: scroll;
  position: relative;
}

.informacion__item {
  margin: 5vh 0;
}

.opciones {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.opciones__eleccion {
  display: block;
  width: 25vw;
  min-height: 30vh;

}

.opciones__banner {
  display: block;
  width: 100%;
  height: 100%;
}

.opciones__banner {
  position: relative;
  display: block;
  background-size: cover;
}

.opciones__h2 {
  font-size: 3rem;
}

.opciones__banner::after {
  
  font-size: 4vw;
  color: white;
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 30vh;
  text-align: center;
  
}



.opciones_enlace {
  display: block; 
  min-width: 100%;
  min-height: 100%;
  z-index: 1000;
}

.opciones__descripcion {
  
  max-width: 100%;
  margin: auto;
  margin-top: 2rem;
}