<div class="opciones">
    <div class="opciones__eleccion">
        <div class="opciones__banner">
            
        </div>
        <div class="opciones__posibilidades">
            <p class="opciones__descripcion">Comprar productos en la tienda física (Solo pueden acceder cajeros)</p>           
        </div>
        <a routerLink="/tienda" routerLinkActive="active">Tienda</a>
    </div>

    <div class="opciones__eleccion">
        <div class="opciones__banner">
            
        </div>
        <div class="opciones__posibilidades">
            <p class="opciones__descripcion">Compra tus productos online y te los enviaremos a casa</p>           
        </div>
        
    </div>

    <div class="opciones__eleccion">
        <div class="opciones__banner">
            
        </div>
        <div class="opciones__posibilidades">
            <p class="opciones__descripcion">Agregar, modificar y eliminar productos y clientes</p>           
        </div>
        <a routerLink="/gestion" routerLinkActive="active">Gestión</a>
    </div>
</div>