
<div class="opciones">
    <div class="opciones__eleccion">
        <div class="opciones__banner">
            
        </div>
        <div class="opciones__posibilidades">
            <p class="opciones__descripcion">Gestionar clientes (altas, bajas, modificaciones)</p>           
        </div>
        <a routerLink="/tienda" routerLinkActive="active">Tienda</a>
    </div>

    <div class="opciones__eleccion">
        <div class="opciones__banner">
            
        </div>
        <div class="opciones__posibilidades">
            <p class="opciones__descripcion">Gestionar productos (añadir, modificar, eliminar)</p>           
        </div>
        <a routerLink="/gestion-productos" routerLinkActive="active">Productos</a>
    </div>
</div>
